@tailwind base;
@tailwind components;
@tailwind utilities;

.winfields-bg {
  background-color: rgb(23, 62, 66);
}

.winfields-text {
  color: rgb(23, 62, 66);
}

button.winfields-bg:hover {
  background-color: rgb(20, 52, 54);
}

.becks-bg {
  background-color: rgb(189, 45, 69);
}

.becks-text {
  color: rgb(189, 45, 69);
}

button.becks-bg:hover {
  background-color: rgb(160, 38, 58);
}

.tic-helper-bg {
  background-color: rgb(128, 206, 217);
}

.tic-helper-text {
  color: rgb(128, 206, 217);
}

button.tic-helper-bg:hover {
  background-color: rgb(110, 178, 188);
}

.cbit-bg {
  background-color: rgb(238, 119, 71);
}

.cbit-text {
  color: rgb(238, 119, 71);
}

button.cbit-bg:hover {
  background-color: rgb(203, 101, 60);
}