@tailwind base;
@tailwind components;
@tailwind utilities;

/* Projects Branding Colors */
.winfields-bg {
  background-color: rgb(23, 62, 66);
}

.winfields-text {
  color: rgb(23, 62, 66);
}

button.winfields-bg:hover {
  background-color: rgb(20, 52, 54);
}

.becks-bg {
  background-color: rgb(189, 45, 69);
}

.becks-text {
  color: rgb(189, 45, 69);
}

button.becks-bg:hover {
  background-color: rgb(160, 38, 58);
}

.tic-helper-bg {
  background-color: rgb(128, 206, 217);
}

.tic-helper-text {
  color: rgb(128, 206, 217);
}

button.tic-helper-bg:hover {
  background-color: rgb(110, 178, 188);
}

.cbit-bg {
  background-color: rgb(238, 119, 71);
}

.cbit-text {
  color: rgb(238, 119, 71);
}

button.cbit-bg:hover {
  background-color: rgb(203, 101, 60);
}

.fha-bg,
.fha-loan-bg {
  background-color: rgb(48, 81, 106);
}

.fha-text,
.fha-loan-text {
  color: rgb(48, 81, 106);
}

button.fha-bg:hover,
button.fha-loan-bg:hover {
  background-color: rgb(41, 69, 90);
}

.otc-bg {
  background-color: rgb(110, 45, 18);
}

.otc-text {
  color: rgb(110, 45, 18);
}

button.otc-bg:hover {
  background-color: rgb(94, 39, 16);
}

.super-chef-bg {
  background-color: rgb(183, 117, 181);
}

.super-chef-text {
  color: rgb(183, 117, 181);
}

button.super-chef-bg:hover {
  background-color: rgb(156, 100, 155);
}

.wgfps-bg {
  background-color: rgb(47, 102, 228);
}

.wgfps-text {
  color: rgb(47, 102, 228);
}

button.wgfps-bg:hover {
  background-color: rgb(40, 87, 195);
}

.goguard-bg {
  background-color: rgb(172, 43, 35);
}

.goguard-text {
  color: rgb(172, 43, 35);
}

button.goguard-bg:hover {
  background-color: rgb(147, 37, 30);
}

.dds-bg {
  background-color: rgb(200, 222, 75);
}

.dds-text {
  color: rgb(200, 222, 75);
}

button.dds-bg:hover {
  background-color: rgb(170, 189, 63);
}

.edge196-bg {
  background-color: rgb(225, 113, 70);
}

.edge196-text {
  color: rgb(225, 113, 70);
}

button.edge196-bg:hover {
  background-color: rgb(191, 96, 59);
}

.ultra-bg {
  background-color: rgb(75, 132, 238);
}

.ultra-text {
  color: rgb(75, 132, 238);
}

button.ultra-bg:hover {
  background-color: rgb(64, 113, 204);
}